/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  }
body { line-height:1; }
ol, ul { list-style:none;  }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing:0; }
/* remember to define focus styles. Hee Haw */
:focus { outline:0; }

*::-webkit-scrollbar {
  background:#fff;
  width:15px;
  }
*::-webkit-scrollbar-thumb {
  background:#ccc;	
  border-radius:15px;
  border:5px #fff solid;
  }


/*-----------------------------------
  Lil Helpers
-------------------------------------*/
/*Markup free clearing
Details: http: //perishablepress.com/press/2009/12/06/new-clearfix-hack*/
.clearfix:after {
  content:'';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  }
* html .clearfix { height:1%; }
*:first-child + html .clearfix { min-height:1%; }

/* ------------------------------------------
  Typography
---------------------------------------------*/
body {
	background:#222;
	color:#fff;
	font-size: 90%;
	line-height:1.4;
	-webkit-font-smoothing:antialiased;
	font-family:helvetica,arial,sans-serif;		
  }
h1,h2,h3,h4,h5,h6 {
  margin:0;
  font-weight:bold;
  }
h1 {
  font-size:2.2em;
  line-height:2.5px;
  }
  .page-title {
  	font-weight:normal;
  	margin: 2em 0 0.4em 0;
  }
  
h2 {
  font-size:19px;
  line-height:27px;
  }
h3 {
  font-size:17px;
  line-height:27px;
  }
p, ul {
  margin:0 0 15px;
  }
a {
  color:#404040;
  font-weight:bold;
  text-decoration:none;
  }

.frame {
	max-width: 75em;
	margin: 0 auto;
	position:relative;
}

	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	}

	.col-holder {
		margin-top: 5em;
		color: #fff;
		width:100%;
	}

	.col {
		width: 49%;
		float: left;
	}
	
	.col.last {
		margin-left: 2%;
	}
	
	/*layouts smaller than 600px, iPhone and mobiles*/
	@media handheld and (max-width: 480px), 
	screen and (max-device-width: 480px), 
	screen and (max-width: 600px)  {
		
		.frame { 
			margin: 0 0.5em;
		}
		
		.col {
			float: none;
			width:auto;
			margin: 0;
		}
		
		.col.last {
			margin: 0;
		}
	
	}
	
  .button:hover {
    -webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.10);
            box-shadow:inset 0 2px 2px rgba(0,0,0,0.10);
    }
  .button:active {
    -webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.25);
            box-shadow:inset 0 2px 2px rgba(0,0,0,0.25);
    }
    
/* Header */

header {
	top: 0;
	left: 0;
	position:fixed;
	width: 100%;
	z-index:100;
	background: #fff;
	border-bottom: 1px solid #fff;
}

	header hgroup {
		margin: 0;
		padding:0;
		float: right;
		
		h2 {
			font-family:"freight-sans-pro",helvetica,arial,sans-serif;				
			display:block;
			float: left;
			color: #222;
			text-transform:uppercase;
			margin: 0.5em 0.5em 0 1em;
			white-space: nowrap;
		}
	}

 	h1.site-name {
 		z-index:100;
		margin: 0.1em 0 0 0;
		float: left;
		font-size: 2.5em;
		line-height:1;
		letter-spacing:-2px;
		font-family: "adelle",helvetica,arial,sans-serif;
		
		a {
			color:#35a0d0;
			display:block;
			float: left;	
		}
		
	}
	
		h1.site-name a span {
			color:#94c9dc;
		}
				
			h1.site-name a:hover span {
				color:#35a0d0;
				
			}
				
	header nav {
		float: left;
	}	
	
	header nav ul {
		margin: 0;
		
		li {
			text-transform:uppercase;
			font-family:"freight-sans-pro",helvetica,arial,sans-serif;					
			font-size: 1.2em;
			line-height:1.2;			
			display:block;
			float: left;
			margin: 0;
			
			a {		
				display:block;
				border-right: 1px solid #fff;
				float: left;
				padding:0.9em 0.7em;
				color: #fff;
				background: #333;
				
				&:hover {
					background-color: #35a0d0;				
				}
			}
			
			a.active {
				background-color: #35a0d0;				
			}
		}			
	}
	
	a#view {
		background: #333 url(../a/see-bribes-icon-1x.png) no-repeat 3% center;
		padding:0.7em 0.3em 0.7em 1.5em;
	}
	
	a#submit {
		background: #333 url(../a/add-bribe-icon-1x.png) no-repeat 3% center;
		padding:0.7em 0.3em 0.7em 1.5em;
	}
	
	a#view.active,
	a#submit.active,
	header nav ul li a:hover {
		background-color: #35a0d0;
	}
	
	@media 
		only screen and (-webkit-min-device-pixel-ratio : 2),
		only screen and (min-device-pixel-ratio : 2) {
	   
			a#view {
				background-image: url(../a/see-bribes-icon-2x.png);
				background-size: 20px 20px;
				-webkit-background-size: 20px 20px;
				-moz-background-size: 20px 20px;
			}
	   
	   
		   	a#submit {
			   	background-image: url(../a/add-bribe-icon-2x.png);
			   	background-size: 20px 20px;
			   	-webkit-background-size: 20px 20px;
			   	-moz-background-size: 20px 20px;
		   	}	   
	}
										
	@media handheld and (max-width: 480px), 
	screen and (max-device-width: 480px), 
	screen and (max-width: 600px)  {
		
		h1.site-name {
			margin: 0.15em 0.5em 0 0;
		}
				
		h1.site-name a span {
			display:none;
		}		
		
		header hgroup h2 {
			display:none;
		}
		
		header nav {
			float: none;
			
			ul {
			
				li {
					margin: 0;
					font-size:1.3em;
				
					a {
						padding:1em 0.5em;			
					}
				
				}
			}
			
		}
		
	}
	
/* Content pages */	

section#content {
	margin: 0;
	padding: 0;
	background: #222;
	position:relative;
}
	
	#content .frame {
		margin: 1em auto;
		width: 41em;
		
		h2 {	
			margin:0.5em 0;
			font-weight:normal;
			line-height:1.5;
			font-size: 1.8em;
		}
	}
	
	section#content.thanks {
		background: url(../a/thank-you-bg.jpg) no-repeat center center;
		height: 550px;
		position:relative;
	}
		
	#content hgroup {
		top: 9em;
		margin: 0;
		padding:0 0 0 0;
		text-align:center;
		position:relative;
		z-index:100;
		
		h2 {
			padding:0;
			margin: 0 0 0.5em 0;
			color: #222;
			position:relative;
			text-align:center;
			font-size: 3em;
			line-height:1.5;
			z-index:100;
		}
		
		h3 {
			color: #222;
			font-size: 2em;
		}
	}	
		
/* MAP */

.map-holder {
	margin-top: 45px;
	overflow:hidden;
	position:relative;
	height: 550px;
}

#map {
  background:#fff;
  height: 600px;	
  position:absolute;
  top:0px;
  left:0;
  width:100%;
  
 }
 
 @media handheld and (max-width: 480px), 
 screen and (max-device-width: 480px), 
 screen and (max-width: 600px)  {

	#content .frame {
		width: auto;
		margin: 0 0.5em;
	}


 	.map-holder {
		margin-right:10px;
 		background:#fff;
/* 		height: 400px;*/
 	}
 }
 
 .map-attribution {
   left:0;
   }
 .marker-popup {
   padding:1em 1em 0.4em;
   color:#505050;
   -webkit-box-shadow:2px 2px 8px -2px rgba(0,0,0,0.5);
           box-shadow:2px 2px 8px -2px rgba(0,0,0,0.5);
   }
   
	 .marker-popup h3 {
	   	line-height:1.3;
	   	font-size:1.1em;
   		margin-bottom: 0.5em;
   	}
   
   .marker-popup p {
     margin:0 0 0.3em;
     font-size: 90%;
     }
 
 #indicate_menu {
   background:white;
   background:rgba(255,255,255,0.90);
   position:absolute;
   padding:6px 20px;
   bottom:0.5em;
   right:0.5em;
   z-index:100;
   -webkit-box-shadow:0 0 4px rgba(0,0,0,0.25);
           box-shadow:0 0 4px rgba(0,0,0,0.25);
   }
   #indicate_menu p {
     margin:0;
     }
  
.zoomin,
.zoomer {
	position:absolute;
	top: 4.7em;
	left:0.5em;
	width: 2em;
	height: 2em;
	-webkit-border-radius:0;
	border-radius:0;
	-webkit-appearance:none;
	border: none;
}

  .zoomout {
    top:7em;
  }
  
.marker {
  width:80px;
  height:60px;
  margin-left:-40px;
  margin-top:-50px;
  position:absolute;
  z-index:1000;
  pointer-events:all;
  }

#lastfield{
  display:none;
  }
  
.ss-required-asterisk {
  color:red;
  font-weight:bold;
  }  
  
.submit-map {
	position:absolute;
	width: 20em;
	top: 4.5em;
	right: 0.5em;
	background:#fff;
	padding: 0.5em;
	border-radius:0.2em;
 } 

	@media handheld and (max-width: 480px), 
	screen and (max-device-width: 480px), 
	screen and (max-width: 600px)  {
		
		 .marker-popup {
		 	width: 90%;
		 }
		
		.submit-map {
			height: auto;
			position:relative;
			top: auto;
			right: auto;
			left: auto;
			width: auto;
		}		
		
	}

/* Counters */	

.social {
	vertical-align:top;
	padding-top: 1em;
	text-align: center;
	color: #fff;
}

	.social iframe {
		color: #fff;
	}

ul.socialcount {
	margin: 1em auto;
	text-align:center;
}

/* Submenu */	

.sub-menu {
	background:#333;

	border-bottom: 1px solid #333;
}

	.sub-menu ul {
		text-align:center;
		margin: 0;
	
		li {
			text-transform:uppercase;
	
			a {
				display: inline-block;
				line-height:1.5;
				color: #fff;
				padding: 0.5em 0;		
			}	
		}
	
	}

/* Banners */	

.banners {
	border-top:1px solid #333;
	border-bottom: 1px solid #333;
	padding: 2em 0;
	text-align:center;

	ul {
		margin: 0;
		
		li {
			display: inline-block;
			
			a {
				display:inline-block;
				text-indent:-999em;
				margin: 0 1em;
				background-color: rgba(255,255,255,0.5);
			}
		}
		
	}

}

	.banners li a[href*="radiofreesarawak"] {
		width: 60px;
		height: 50px;
		background:url(../a/rfs-1x.png) no-repeat center center;
	}
	
	.banners li a[href*="sarawakreport"] {
		width: 105px;
		height: 50px;
		background:url(../a/sr-1x.png) no-repeat center center;
	}
	
	.banners li a[href*="mapbox"] {
		width: 160px;
		height: 50px;		
		background:url(../a/mapbox-1x.png) no-repeat center center;
	}
	
	.banners li a[href*="goodcaesar"] {
		width: 60px;
		height: 50px;
		background:url(../a/gc-1x.png) no-repeat center center;

	}

	.banners li a[href*="github"] {
		width: 113px;
		height: 50px;
		background:url(../a/github-1x.png) no-repeat center center;
	}

	@media handheld and (max-width: 480px), 
	screen and (max-device-width: 480px), 
	screen and (max-width: 600px)  {
		
		.banners ul li a {
			float: none;
			display:block;
			margin: 1em;
		}
		
		.banners li a[href*="github"],
		.banners li a[href*="goodcaesar"],
		.banners li a[href*="mapbox"] {
			float: none;
		}

	}
	
	@media 
		only screen and (-webkit-min-device-pixel-ratio : 2),
		only screen and (min-device-pixel-ratio : 2) {
	   

		.banners li a[href*="radiofreesarawak"] {
			background-size: 60px 50px;
			background:url(../a/rfs-2x.png) no-repeat center center;		
		}
		
		.banners li a[href*="sarawakreport"] {
			background:url(../a/sr-2x.png) no-repeat center center;		
			background-size: 105px 50px;
		
		}
		
		.banners li a[href*="mapbox"] {
			background-size: 160px 50px;
			background:url(../a/mapbox-2x.png) no-repeat center center;
		}
		
		.banners li a[href*="goodcaesar"] {
			background:url(../a/gc-2x.png) no-repeat center center;
			background-size:  51px 50px;
		}
		
		.banners li a[href*="github"] {
			background:url(../a/github-2x.png) no-repeat center center;
			background-size: 113px 50px;;
		}
	
	}

/* Form Elements */

label {
  display:block;
  font-weight:bold;
  margin:5px 0 0;
  color: #222;
  white-space:nowrap;  
  }
  
  form#contact label {
  	color: #fff;
  }
    
label.error{
	font-size: 90%;
	color: #ff0000;
	line-height:1;
	position:relative;
}  
  
  
input[type=text],
input[type=email],
textarea {
  border:1px solid #CCC;
  border-color:#bbb #ccc #ccc;
  -webkit-box-shadow:inset #ccc 0 1px 3px;
     -moz-box-shadow:inset #ccc 0 1px 3px;
          box-shadow:inset #ccc 0 1px 3px;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  padding:4px 10px;
  width:26em;
  }  
  
input[type=text],
input[type=email] {
  max-width:100%;
  vertical-align:middle;
  background:#fff;
  color:#000;
  padding:0.8em;
  -webkit-border-radius:0;
  -webkit-appearance:none;
  }

textarea {
  resize:none;
  height:100px;

  -webkit-border-radius:0;
  -webkit-appearance:none;
  }
input[type=button],
input[type=submit] {
	background:#35a0d0;
	text-decoration:none!important;
	color:#fff;
	display:inline-block;
	vertical-align:middle;
	padding:0.9em;
	font-size:110%;
	line-height:1.2;
	font-weight:bold;
	border:0;
	-webkit-appearance: none;
	text-align: center;
	cursor:pointer;
	margin:20px 0 0 0;
	-webkit-border-radius:2px;
			border-radius:2px;
  }
  input[type=button]:hover,
  input[type=submit]:hover {
  background:#5abac8;
    -webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.10);
            box-shadow:inset 0 2px 2px rgba(0,0,0,0.10);
    }
  input[type=button]:active,
  input[type=submit]:active {
    -webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.25);
            box-shadow:inset 0 2px 2px rgba(0,0,0,0.25);
    }

	div.hide {
		display:none;
	}

	.datetime {
	}
	
	.datetime:first-child {
		margin-right:2em;
	}

@media handheld and (max-width: 480px), 
screen and (max-device-width: 480px), 
screen and (max-width: 600px)  {
	input[type=text],
	input[type=email],
	textarea {
		width: 100%;
		height: auto;
	}
}	
	
/* Submit */

.message {
	width: 14em;
	-moz-box-shadow:0 2px 6px rgba(0,0,0,0.25);
	-webkit-box-shadow:0 2px 6px rgba(0,0,0,0.25);
	box-shadow:0 2px 6px rgba(0,0,0,0.25);
	padding:0.5em;
	position:absolute;
	right: 0.5em;
	top: 0.5em;
	border-radius:0.2em;
	z-index:100;
	background:#fff;
}

	.message.list {
		width:10em;
	}

	.message h3 {
		padding: 0.3rem;
		color: #222;
		border-bottom: 1px solid #ccc;
	}

	.message ul {
		margin: 0;
	}

	.message ul li a {
		display:block;
		color: #222;
		padding:0.5em 0.4em;
	}
	
	.message ul li a#overview {
		border-top: 1px solid #ccc;
	}
	
	.message ul li a:hover,
	.message ul li.active a  {
		background:#efefef;
	}

	.introduction {
		left: 30%;
		top: 4.5em;
		color: #222;
		background:#fff;
	}
	
	span.close {
		display:block;	
		font-size: 1.6em;
		margin: 0;
		padding:0;
	}
	
		span.help:hover {
			cursor:pointer;
		}
		
	input#sendthis {
		float: left;
		margin: 0.5em 0 0;
	}
		
	span.help {
		margin-top: 0.5em;
		float:right;
		display: block;
	}	

		span.help a {
			border-radius:0.2em;
			display:block;
			background:#666;
			color: #fff;
			padding:1em;
			margin: 0 0 0 1em;
		}

	@media handheld and (max-width: 480px), 
	screen and (max-device-width: 480px), 
	screen and (max-width: 600px)  {

	input#sendthis {
		float: none;
		width: 100%;
	}

		span.help {
			width: auto;
			float: none;
		}
			span.help a {
				margin: 0;
			}

		.message {
			top: auto;
		}
				
			.message.list {
				display:none
			}

		.introduction {
			display: none;
			top: 1em;
			left: 0;
			position:relative;
			width: auto;
		}
	}

	.thankyou {	
		display:none;
		top: 10%;	
		left: 43%;
		background:#fff;
		color: #222;	
	}
	
		.thankyou span {
			text-align:center;
			display:block;
		}

	.on {
		display: block;
	}

@media handheld and (max-width: 480px), 
screen and (max-device-width: 480px), 
screen and (max-width: 600px)  {

	.message {
		border-radius:0;
		width: auto;
		position:relative;
	}
	
		.message.list {
			width: auto;
			right: 0;
		}
}

/* Contact */

form#contact {
	width: 35em;
	margin: 4em auto 1em auto;
}

	form#contact input,
	form#contact textarea {
		width: 100%;
	}

	form#contact p {

	}

/* Newsletter Subscription Form */

.newsletter {
	border-top: 1px solid #333;
	padding-bottom: 1em;
}

.newsletter h3 {
	font-weight:normal;
	text-align:center;
	color: #fff;
	margin: 0.5em 0 1em 0;
	font-size: 1.4em;
	text-align:center;
}

	.newsletter form {
		width: 35em;
		margin: 0 auto;
		vertical-align:top;
		
	}
	
	.newsletter form input {
		float: left;
		line-height:1;
		vertical-align:top;
		margin: 0;
	}

	.newsletter form input[type='text'] {
		padding:0.6em;
		font-size: 1.3em;
		width: 20em;
		display:block;
	}
	
	.newsletter form input[type='submit'] {
		margin-left: 0.5em;
		display:block;
		vertical-align:top;		
		margin-top: 0;
		line-height:normal;
	}	
	
	.newsletter p.error {
		color: #fff;
		text-align:center;
		padding:0.5em 0;
		display:block;
		margin: 1em;
	}

	/*layouts smaller than 600px, iPhone and mobiles*/
	@media handheld and (max-width: 480px), 
	screen and (max-device-width: 480px), 
	screen and (max-width: 600px)  {
				
		form#contact,
		.newsletter form {
			width: auto;
		}
		
		.newsletter {
			margin: 0 0.5em;
		}
	
		.newsletter form input[type='text'],
		.newsletter form input[type='submit'] {
			width: 100%;
			display: block;
			float: none;
			margin: 1em 0;
		}
		
	}	

/* Footer */			
		
footer {
	margin: 1em 0;
	text-align:center;
}

	footer p {
		color: #999;
		font-size: 80%;
	}

		footer p a {
			color: #999;
		}

	footer ul li:first-child {
	
	}