---
permalink: /
url: /
title: Map
idd: view
---

{% include header.html %}
	
<div id="map"></div>

<h2 id="count"></h2>	           

<div class="submit-map">
	
	<span class="close">&times;</span>
	
      <iframe name='hidden_iframe' id='hidden_iframe' style='display:none;' onload='if(submitted)
      {window.location="confirm.html";
      }'>
      </iframe>
		              
      <form method='post' target='hidden_iframe' class='well span6' id='ss-form'>
		
		<div class="button"><a href="#" id="geolocate">Use my location</a></div>
			
		<div class="errorbox-good">
			<div class="ss-item  ss-text">
				<div class="ss-form-entry"><label class="ss-q-title" for="entry_7">What happened?
				<span class='ss-required-asterisk'>*</span>
				</label>
		
		
					<label class="ss-q-help" for="entry_7"></label>				
					<input type="text" name="entry.7.single" value="" class="ss-q-short" id="entry_7">
				</div>
			</div>
		</div>
		
		<div class="errorbox-good">
			<div class="ss-item  ss-text">
				<div class="ss-form-entry">
				
				<label class="ss-q-title" for="entry_9">Where? (Click on the map)</label>
				
				<input type="text" name="entry.9.single" value="" placeholder="Type the location or click on the map" class="ss-q-short" id="entry_9">

				</div>
			</div>
		</div>
	
        <div class='errorbox-good datetime'>
          <div class='ss-item ss-item-required ss-text'>
            <div class='ss-form-entry'>
              <label class='ss-q-title' for='entry_0'>When did it happen?
              <span class='ss-required-asterisk'>*</span>
              </label>
              <label class='ss-q-help' for='entry_0'></label>
              <input type='text' name='entry.0.single' value='' class='ss-q-short' id='entry_0' />
            </div>
          </div>
        </div>
        
        <div class='errorbox-good upload-image'>
          <div class='ss-item ss-item-required ss-text'>
            <div class='ss-form-entry'>
              <label class='ss-q-title' for='entry_10'>Image? <span>(Optional)</span></label>
              <label class='ss-q-help' for='entry_10'></label>
              <div id="image-form">
		          <div id="upload-image">Drag images here (or use button below)
		          	<input type="file" onchange="window.uploadImage(this.files[0])" />
		          </div>
		          <input id="image-value" type='hidden' name='entry.10.single' value='' id='entry_10' />
              </div>
              <div id="image-show" style="display:none; text-align:center">
              	<img /><br />
              	[<a id="image-reset" href="javascript: imageReset();">Remove image</a>]
              </div>
            </div>
          </div>
        </div>

		<div class='errorbox-good'>
		  <div class='ss-item  ss-paragraph-text'>
		    <div class='ss-form-entry'>
		      <label class='ss-q-title' for='entry_8'>Website link <span>(Optional)</span></label>
		      <label class='ss-q-help' for='entry_8'></label>
		      <input type="text" name="entry.8.single" value="" class="ss-q-short" id="entry_8">
		    </div>
		  </div>
		</div>

		<div class='errorbox-good'>
		  <div class='ss-item  ss-paragraph-text'>
		    <div class='ss-form-entry'>
		      <label class='ss-q-title' for='entry_2'>Description</label>
		      <label class='ss-q-help' for='entry_2'></label>
		      <textarea name='entry.2.single' id='entry_2'></textarea>
		    </div>
		  </div>
		</div>
		
		<div class="col">
        
        <div class='errorbox-good hide'>
          <div class='ss-item ss-item-required ss-text'>
            <div class='ss-form-entry'>
              <label class='ss-q-title' for='entry_4'>Latitude
               <span class='ss-required-asterisk'>*</span></label>
              <label class='ss-q-help' for='entry_4'></label>
              <input type='text' name='entry.4.single' value='' class='ss-q-short' id='entry_4' placeholder='Click on the map' />
            </div>
          </div>
        </div>
        
        </div>
        
        <div class="col last">
        
        <div class='errorbox-good hide'>
          <div class='ss-item ss-item-required ss-text'>
            <div class='ss-form-entry'>
              <label class='ss-q-title' for='entry_6'>Longitude
                <span class='ss-required-asterisk'>*</span>
              </label>
              <label class='ss-q-help' for='entry_6'></label>
              <input type='text' name='entry.6.single' value='' class='ss-q-short' id='entry_6' placeholder='Click on the map' />
            </div>
          </div>
        </div>
        
        </div>
        
        <input type='hidden' name='pageNumber' value='0' />
        <input type='hidden' name='backupCache' value='' />
        <div class='ss-item ss-navigate'>
          <div class='ss-form-entry'>
            <input id="sendthis" type='submit' name='submit' value='Submit' />
          </div>
          
        </div>
      </form>
</div><!-- /submit-map -->	

<div class="buttons"><a class="question" href="#howto">?</a></div>

<!--<div class="buttons"><a class="signup" href="#newsletter">@</a></div>-->

<div id="newsletter" class="content">
	<span class="close"><a href="#">&times;</a></span>
			
		<form class="clearfix" action="http://goodcaesar.createsend.com/t/r/s/jtyuiii/" method="post" id="subForm">
		<input placeholder="Sign up to keep up to date" type="text" name="cm-jtyuiii-jtyuiii" id="jtyuiii-jtyuiii" />		
		<input type="submit" value="Sign Me Up" />
		<div class="error"><p></p></div>
		</form>			
	</div><!-- /newsletter -->
	
<div id="message-thankyou" class="content">
	<span class="close">&times;</span>
	<h2>Thank you for your report. It has been logged in our database and will appear on our map in a few moments.</h2>
</div>

<div id="howto" class="content">
	<span class="close"><a href="#">&times;</a></span>
	
		
	<h3>Report Election Corruption</h3>
	
	<p>Examples of corruption are:</p>
	
	<ul class="item-list">
		<li>Bribes</li>
		<li>Abuse of power</li>
		<li>Handouts</li>
		<li>Voter fraud</li>
		<li>Voter intimidation</li>
	</ul>	
		
	<p>To report a bribe or abuse by SMS send it to <strong>0111 939 7878</strong>. Include a short description of what you have witnessed along with your location and we will plot this on the map.</p>
	
	<p>To post a report online click on the 'Add Report' button. Add a title of your report, click on the map to mark it's location and tell us the date of when the incident happened. You can also add a link and a description but these are not required.</p>
	
	<p>We do not store any of your details, IP address or where you are from. Posting a report is entirely anonymous. </p>
			
</div>

<ul id="jumper">
	<li><a id="west" href="#">West Malaysia</a></li>
	<li class="active"><a id="sarawak" href="#">Sarawak</a></li>
	<li><a id="sabah" href="#">Sabah</a></li>
</ul>

<!--<ul id="lang">
	<li class="active"><a href="/">EN</a></li>
	<li><a href="/ms">Malay</a></li>
	<li><a href="/iban">Iban</a></li>
</ul>-->
   	   	   	   	
<section id="browse" class="content">
	<div id="browse-inner"><div id="disqus_thread"></div><div>
</section>    	   	   	   	
   	   	   	   	
<section id="about" class="content">
	<span class="close"><a href="#">&times;</a></span>	
   <h2>Federal Election Bribe &amp; Abuse Map</h2>
   
   <p>This time we are operating a fully interactive map that you can add your information to!  So, if for example you have seen BN candidates handing money around longhouses or were in Beluru and disgusted at the sight of James Masing forcing land owners to parade before the cameras holding cheques for dividends, as if they were receiving 'gifts' from BN, then mark the incident down on the map (we already have this time) as an example of election bribery and corruption.  This way we can register BN's election crimes over the next few weeks.</p>

   	<p>Rightfully, one day these crimes will catch up with their perpetrators.</p>

	<div class="banners clearfix">
  	<ul>
  		<li><a href="http://radiofreesarawak.org" title="Radio Free Sarawak">Radio Free Sarawak</a></li>
  		<li><a href="http://sarawakreport.org" title="Sarawak Report">Sarawak Report</a></li>
		<li><a href="http://github.com" title="Coded hosted on Github">GitHub</a></li>					
		<li><a href="http://mapbox.com" title="Maps hosted by MapBox">MapBox</a></li>		
		<li><a href="http://imgur.com" title="Images hosted by Imgur">I				mgur</a></li>		
		<li><a href="http://goodcaesar.com" title="Created by Good Caesar for Sarawak Report">Good Caesar</a></li>
  	</ul>	  	
   </div>
</section><!--/#about -->
  	   	   	      	   	   	
{% include footer.html %}
