---
permalink: /ms
url: /ms
title: Map
idd: view
---

{% include header-ms.code %}
	
<div id="map"></div>

<h2 id="count"></h2>	           

<div class="submit-map">
	
	<span class="close">&times;</span>
	
      <iframe name='hidden_iframe' id='hidden_iframe' style='display:none;' onload='if(submitted)
      {window.location="confirm.html";
      }'>
      </iframe>
		              
      <form method='post' target='hidden_iframe' class='well span6' id='ss-form'>
		
		<div class="button"><a href="#" id="geolocate">Cari saya</a></div>
			
		<div class="errorbox-good">
			<div class="ss-item  ss-text">
				<div class="ss-form-entry"><label class="ss-q-title" for="entry_7">Apa yang berlaku?
				<span class='ss-required-asterisk'>*</span>
				</label>
		
		
					<label class="ss-q-help" for="entry_7"></label>				
					<input type="text" name="entry.7.single" value="" class="ss-q-short" id="entry_7">
				</div>
			</div>
		</div>
		
		<div class="errorbox-good">
			<div class="ss-item  ss-text">
				<div class="ss-form-entry">
				
				<label class="ss-q-title" for="entry_9">Mana?</label>
				
				<input type="text" name="entry.9.single" value="" placeholder="Type the location or click on the map" class="ss-q-short" id="entry_9">

				</div>
			</div>
		</div>
	
        <div class='errorbox-good datetime'>
          <div class='ss-item ss-item-required ss-text'>
            <div class='ss-form-entry'>
              <label class='ss-q-title' for='entry_0'>Bilakah ianya berlaku?
              <span class='ss-required-asterisk'>*</span>
              </label>
              <label class='ss-q-help' for='entry_0'></label>
              <input type='text' name='entry.0.single' value='' class='ss-q-short' id='entry_0' />
            </div>
          </div>
        </div>

		<div class='errorbox-good'>
		  <div class='ss-item  ss-paragraph-text'>
		    <div class='ss-form-entry'>
		      <label class='ss-q-title' for='entry_8'>Pautan ke laman web</label>
		      <label class='ss-q-help' for='entry_8'></label>
		      <input type="text" name="entry.8.single" value="" class="ss-q-short" id="entry_8">
		    </div>
		  </div>
		</div>

		<div class='errorbox-good'>
		  <div class='ss-item  ss-paragraph-text'>
		    <div class='ss-form-entry'>
		      <label class='ss-q-title' for='entry_2'>Butir-butir peristiwa</label>
		      <label class='ss-q-help' for='entry_2'></label>
		      <textarea name='entry.2.single' id='entry_2'></textarea>
		    </div>
		  </div>
		</div>
		
		<div class="col">
        
        <div class='errorbox-good hide'>
          <div class='ss-item ss-item-required ss-text'>
            <div class='ss-form-entry'>
              <label class='ss-q-title' for='entry_4'>Latitude
               <span class='ss-required-asterisk'>*</span></label>
              <label class='ss-q-help' for='entry_4'></label>
              <input type='text' name='entry.4.single' value='' class='ss-q-short' id='entry_4' placeholder='Click on the map' />
            </div>
          </div>
        </div>
        
        </div>
        
        <div class="col last">
        
        <div class='errorbox-good hide'>
          <div class='ss-item ss-item-required ss-text'>
            <div class='ss-form-entry'>
              <label class='ss-q-title' for='entry_6'>Longitude
                <span class='ss-required-asterisk'>*</span>
              </label>
              <label class='ss-q-help' for='entry_6'></label>
              <input type='text' name='entry.6.single' value='' class='ss-q-short' id='entry_6' placeholder='Click on the map' />
            </div>
          </div>
        </div>
        
        </div>
        
        <input type='hidden' name='pageNumber' value='0' />
        <input type='hidden' name='backupCache' value='' />
        <div class='ss-item ss-navigate'>
          <div class='ss-form-entry'>
            <input id="sendthis" type='submit' name='submit' value='Hantar' />
          </div>
          
        </div>
      </form>
</div><!-- /submit-map -->	

<div class="buttons"><a class="question" href="#howto">?</a></div>

<!--<div class="buttons"><a class="signup" href="#newsletter">@</a></div>-->

<div id="newsletter" class="content">
	<span class="close"><a href="#">&times;</a></span>
			
		<form class="clearfix" action="http://goodcaesar.createsend.com/t/r/s/jtyuiii/" method="post" id="subForm">
		<input placeholder="Sign up to keep up to date" type="text" name="cm-jtyuiii-jtyuiii" id="jtyuiii-jtyuiii" />		
		<input type="submit" value="Sign Me Up" />
		<div class="error"><p></p></div>
		</form>			
	</div><!-- /newsletter -->
	
<div id="message-thankyou" class="content">
	<span class="close">&times;</span>
	<h2>Thank you for your report. It has been logged in our database and will appear on our map in a few moments.</h2>
</div>

<div id="howto" class="content">
	<span class="close"><a href="#">&times;</a></span>
	
	<h3>Gunakan peta ini untuk melaporkan jenayah berkaitan pilihanraya umum, seperti:</h3>
	
	<ul class="item-list">
		<li>Rasuah</li>
		<li>Salahguna kuasa</li>
		<li>Sogokan</li>
		<li>Penipuan semasa mengundi</li>
		<li>Mengancam para pengundi</li>
	</ul>
	
	<p>Klik 'Tambah Laporan', kemudian klik pada peta untuk menentukan kedudukan dan seterusnya isikan maklumat yang berkaitan.</p>
	
</div>

<ul id="jumper">
	<li><a id="west" href="#">West Malaysia</a></li>
	<li class="active"><a id="sarawak" href="#">Sarawak</a></li>
	<li><a id="sabah" href="#">Sabah</a></li>
</ul>

<ul id="lang">
	<li><a href="/">EN</a></li>
	<li class="active"><a href="/ms">Malay</a></li>
	<li><a href="/iban">Iban</a></li>
</ul>
   	   	   	   	
<section id="browse" class="content">
	<span class="close"><a href="#">&times;</a></span>	
	<h2>Reports</h2>
</section>    	   	   	   	
   	   	   	   	
<section id="about" class="content">
	<span class="close"><a href="#">&times;</a></span>	
   <h2>Laporan Rasuah Pilihanraya Umum dan Peta Salahguna Kuasa Sarawak Report</h2>
   
   <p>Kali ini kami menjalankan peta interaktif yang anda boleh gunakan untuk menambahkan maklumat! Maka, sebagai contoh, anda telah melihat calon-calon BN memberikan wang sogokan kepada para pengundi atau anda pernah berada di Beluru dan merasa terhina dengan perbuatan James Masing memaksa para pemilik tanah berbaris di hadapan kamera-kamera sambil memegang replika-replika cek bayaran dividen seolah-olah mereka menerima 'hadiah' daripada BN, maka tandakan peristiwa itu pada peta (kami sudah mempunyai laporan ini) sebagai contoh rasuah pilihanraya. Dengan cara ini kami dapat mendaftarkan jenayah pilihanraya yang dilakukan oleh BN dalam masa beberapa minggu menjelang hari pengundian nanti.</p>

   	<p>Suatu hari nanti jenayah-jenayah ini akan mendedahkan para pelakunya.</p>

	<div class="banners clearfix">
  	<ul>
  		<li><a href="http://radiofreesarawak.org" title="Radio Free Sarawak">Radio Free Sarawak</a></li>
  		<li><a href="http://sarawakreport.org" title="Sarawak Report">Sarawak Report</a></li>
		<li><a href="http://github.com" title="Coded hosted on Github">GitHub</a></li>					
		<li><a href="http://mapbox.com" title="Maps hosted by MapBox">MapBox</a></li>			
		<li><a href="http://goodcaesar.com" title="Created by Good Caesar for Sarawak Report">Good Caesar</a></li>
  	</ul>	  	
   </div>
</section><!--/#about -->
  	   	   	      	   	   	
{% include footer-ms.code %}